<div class="">
  <div class="breadcrumb">
    <h1>Users</h1>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card o-hidden">
        <ngx-datatable
                style="height: calc(100vh - 270px); box-shadow: none"
                class="material fullscreen"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="60"
                [scrollbarV]="true"
                [limit]="10"
                [rows]="data$ | async" >
          <ngx-datatable-column name="Full name" [maxWidth]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.full_name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Email">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.email}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Created On">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.added_on | date}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Details">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a routerLink="/admin/user-details/{{row._id}}">View Details</a>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
  </div>

</div>

