<div [ngClass]="{open: navService.sidebarState.sidenavOpen}" class="sidebar-left rtl-ps-none" [perfectScrollbar]="{suppressScrollX: true}">
    <div class="logo">
        <img src="./assets/images/logo.png" alt="">
    </div>
    <ul class="navigation-left" cdkDropList (cdkDropListDropped)="drop($event)" (mouseleave)="removeSidebarClass()">
        <ng-template ngFor let-item [ngForOf]="nav">
      <li   [ngClass]="{active: item.active}"
        (click)="onClickChangeActiveFlag(item)"
        class="nav-item lvl1"
         cdkDrag  [cdkDragDisabled]=elgible(item.name)
        >
        <div class="nav-item-hold link" routerLink="{{item.state}}" (click)="closeChildNav()" *ngIf="item.type === 'link'">
          <i [class]="'nav-icon '+ item.icon "></i>
          <span class="nav-text">{{item.name}}</span>
        </div>
        <div class="nav-item-hold dropdownLink" (mouseenter)="selectItem(item)" *ngIf="item.type === 'dropDown'">
          <i [class]="'nav-icon '+ item.icon "></i>
          <span class="nav-text">{{item.name}}</span>
        </div>
        <div class="nav-item-hold extLink" *ngIf="item.type === 'extLink'">
          <a [href]="item.state" target="_blank">
              <i [class]="'nav-icon '+ item.icon "></i>
              <span class="nav-text">{{item.name}}</span>
          </a>
        </div>

        <div class="triangle"></div>


<!--          <div [ngClass]="{open: navService.sidebarState.childnavOpen}" class="sidebar-left-secondary rtl-ps-none" [perfectScrollbar]="{suppressScrollX: true}">-->
              <div class="sidebar-left-secondary rtl-ps-none sub-menu" data-id="{{item.type}}">
              <header>
                  <h6>Apps</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </header>
              <ng-container *ngTemplateOutlet="menuTemplate;context:{parentItem: selectedItem}"></ng-container>
          </div>

          <ng-template #menuTemplate let-parentItem="parentItem">
              <ul *ngIf="item.type === 'dropDown'" class="childNav" appDropdown>
                  <li *ngFor="let item of parentItem?.sub" appDropdownLink class="nav-item">

                      <a routerLink="{{item.state}}" *ngIf="item.type === 'link'" class="" routerLinkActive="open">
                          <i *ngIf="item.icon" [class]="'nav-icon '+ item.icon "></i>
                          <span class="item-name lvl1">{{item.name}}</span>
                      </a>

                      <div *ngIf="item.type === 'dropDown'">
                          <a appDropdownToggle [ngClass]="{open: item.active}" routerLinkActive="open">
                              <i *ngIf="item.icon" [class]="'nav-icon '+ item.icon "></i>
                              <span class="item-name">{{item.name}}</span>
                              <i class="dd-arrow i-Arrow-Down"></i>
                          </a>
                          <ng-container  *ngTemplateOutlet="menuTemplate;context:{parentItem: item}"></ng-container>
                      </div>

                  </li>
              </ul>
          </ng-template>

      </li>
        </ng-template>
    </ul>
</div>



<div [ngClass]="{open: navService.sidebarState.childnavOpen}" class="sidebar-overlay" (click)="closeChildNav()"></div>
