<div class="">
    <div class="breadcrumb">
        <h1>Dashboard</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Business-Mens"></i>
                    <div class="content"><p class="text-muted mt-2 mb-0">Users</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{stats.users}}</p></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Internet"></i>
                    <div class="content"><p class="text-muted mt-2 mb-0">Domains</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{stats.domains}}</p></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Split-Horizontal-2-Window"></i>
                    <div class="content"><p class="text-muted mt-2 mb-0">Hosting</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{stats.hosting}}</p></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center"><i class="i-Ticket"></i>
                    <div class="content"><p class="text-muted mt-2 mb-0">Tickets</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{stats.tickets}}</p></div>
                </div>
            </div>
        </div>
    </div>

</div>

