<div class="">
  <div class="breadcrumb">
    <h1>Domains</h1>
    <ul>
      <li><a routerLink="/">Dashboard</a></li>
      <li>Domains</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">



    <div class="col-12 mb-4 accord-custom">
      <ngb-accordion #acc="ngbAccordion" [activeIds]="activeId">
        <ngb-panel title="Add New Domain">
          <ng-template ngbPanelContent>
            <form [formGroup]="formBasic" (ngSubmit)="doRegisterDomain()">

              <div class="row">


                <div class="col-md-12 col-sm-6 col-12">
                  <div class="mb-4">
                    <div class="w-100">

                      <div class="row">
                          <div class="col-md-6 col-12">
                              <div class="form-group">
                                  <label for="domain">Domain</label>
                                  <input formControlName="domain" type="text" class="form-control" id="domain"
                                         placeholder="Enter your domain">

                                  <span class="text-danger"
                                        *ngIf="formBasic.controls.domain.dirty &&
                formBasic.controls.domain.errors?.required
                "
                                  >
              Domain is required
            </span>

                              </div>
                          </div>

                          <div class="col-md-6 col-12">
                              <div class="form-group">
                                  <label for="domain">Years</label>
                                  <input formControlName="years" type="number" class="form-control" id="years"
                                         placeholder="Registration length">

                                  <span class="text-danger"
                                        *ngIf="formBasic.controls.years.dirty &&
                formBasic.controls.years.errors?.required
                "
                                  >
              Registration length is required
            </span>

                                  <span class="text-danger"
                                        *ngIf="formBasic.controls.years.dirty &&
                 ( formBasic.controls.years.errors?.min ||
                 formBasic.controls.years.errors?.max)
                "
                                  >
              Minimum registration length is 1 year and maximum is 5 years.
            </span>

                              </div>
                          </div>

                      </div>


                        <div class="row">

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="ns1">NS 1</label>
                                    <input formControlName="ns1" type="text" class="form-control" id="ns1"
                                           placeholder="Nameserver 1">

                                    <span class="text-danger"
                                          *ngIf="formBasic.controls.ns1.dirty &&
                formBasic.controls.ns1.errors?.required
                "
                                    >
              Nameserver 1 is required
            </span>



                                </div>
                            </div>

                            <div class="col-md-6 co-12">
                                <div class="form-group">
                                    <label for="ns2">NS 2</label>
                                    <input formControlName="ns2" type="text" class="form-control" id="ns2"
                                           placeholder="Nameserver 2">

                                    <span class="text-danger"
                                          *ngIf="formBasic.controls.ns2.dirty &&
                formBasic.controls.ns2.errors?.required
                "
                                    >
              Nameserver 2 is required
            </span>



                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="ns3">NS 3</label>
                                    <input formControlName="ns3" type="text" class="form-control" id="ns3"
                                           placeholder="Nameserver 3">

                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="ns4">NS 4</label>
                                    <input formControlName="ns4" type="text" class="form-control" id="ns4"
                                           placeholder="Nameserver 4">

                                </div>
                            </div>
                        </div>














                      <div class="form-group">
                        <btn-loading btnClass="btn-primary btn-rounded " [loadingText]="loadingText" [loading]="loading">
                          Register Domain
                        </btn-loading>
                      </div>


                    </div>
                  </div>
                </div>





              </div>




            </form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>


  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card o-hidden">
        <ngx-datatable
                       class="material fullscreen"
                       [columnMode]="'force'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="60"
                       [scrollbarV]="true"
                       [limit]="10"
                       [rows]="rows" >
          <ngx-datatable-column name="Domain Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.domain}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Year">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.years}} Years
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Nameservers">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.nameservers?.ns1}}
              {{ row.nameservers?.ns2}}<br />
              {{ row.nameservers?.ns3}}
              {{ row.nameservers?.ns4}}

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="form-actions">
                <a routerLink="/web/domain-edit/{{row._id }}"><i class="i-Pen-2"></i></a>
                <a href="javascript:;" (click)="deleteDomain(row._id)"><i class="i-Close"></i></a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
