<div class="col-12 col-sm-12 col-md-10 mx-auto">
  <div class="on-boarding-form card-on-boarding-boxed mt-2">
    <div class="card-on-boarding-box card-box-transparent">
      <div class="onBoarding-form-box">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="card-title mb-2">
                  <p class="m-0 mt-3" style="font-size: 25px"><strong>Payment Failed.</strong></p>
                </div>
                <div class="card-body pt-0">
                  <div class="card-desc">
                    Your last transaction has been failed/cancelled. You have not been charged for this. Click below
                    button to go back to plans page.
                  </div>
                  <a href="javascript:;" routerLink="/payment/plans" class="btn btn-primary btn-rounded mt-3">Plans</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
