<div class="">
  <div class="breadcrumb">
    <h1>Review Settings</h1>
    <ul>
      <li><a routerLink="/">Dashboard</a></li>
      <li>Review Settings</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <form [formGroup]="formBasic" (ngSubmit)="submit()">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-title">
              <i class="i-Information text-primary mr-2"></i><strong>Business name</strong>
            </div>
            <div class="form-group">
              <input type="text" (keyup)="checkBusiness()" autocomplete="off" formControlName="business_name" class="form-control" id="business_name" placeholder="Enter business name"/>
              <div *ngIf="showSuggesstion" class="hinting-suggesstions">
                <ul>
                  <li *ngFor="let placeItem of lisItems" ><a (click)="setInputValue(placeItem)" href="javascript:;">{{placeItem}}</a></li>
                </ul>
              </div>
              <span class="text-danger" *ngIf="formBasic.controls.business_name.touched && formBasic.controls.business_name.errors?.required ">
                Business name is required
              </span>
            </div>
            <div class="form-group">
              <button type="submit"  class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>


  </form>

</div>
