<div class="on-boarding-layout">
    <div class="container">
        <div class="row onboarding-menu">
            <div class="col-md-6 col-12">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="col-md-6 col-12">
                <a href="javascript:;">Hello, {{auth.user.name}}</a>
            </div>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="skip-on-boarding" (click)="skipOnBoarding()" href="javascript:;">Skip</a>
            </div>
        </div>
    </div>
</div>
